@import 'colors';

footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 14rem;
    background-color: $dark;
    color: white;

    >div {
        width: 33%;
        max-height: 11rem;
        // border: 1px solid pink;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-right: 1px solid rgba(255,255,255,0.5);

        >h2 {
            padding: 0.5rem 0;
        }

        >p {
            font-size: 0.9rem;
            padding-bottom: 0.9rem;
        }

        >strong {
            padding: 0.6rem;
        }
    }

    .righs {
        border-right: 1px solid rgba(255,255,255,0.5);
        width: 33%;
        height: 6rem;
        display: flex;
        justify-content: center;
    }

    >aside {
        // border: 1px solid red;
        width: 33%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        >h3{
            font-size: 1.4rem;
        }
        >div{
            margin: 1rem;
            >a{
                font-size: 1.7rem;
                color: white;
                padding: 0.5rem;
                transition: all 0.3s;
                >svg{
                    &:hover{
                        transform: scale(1.3);
                        color: $red;
                    }
                }
                
            }
        }
    }
}

@media screen and (max-width:600px) {
    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        >div{
            // justify-content: flex-end;
            height: 6rem;
            width: 100%;
            padding-top: 2rem;
            border: none;
            >h2{
                padding: 1rem;
            }
        }
        .righs{
            width: 100%;
            border: none;
        }
        >aside{
            padding-bottom: 2rem;
            justify-content: flex-start;
            width: 100%;
        }
    }
}